.UserInfo img{
	max-width: 100%;
}

.UserInfo {
	padding: 0;
	background-color: cornflowerblue;
}

.UserInfo-name{
	font-size: 17px;
	color: white;
	text-align: right;
}

.Comment-body h3 {
	margin: 0;
	color: darkcyan;
}

.Comment-date {
	font-size: 10px;
	color: #777;
	margin-bottom: 5px;
}

.Comment-text {
	margin-bottom: 5px;
}

.row{
	margin-bottom: 5px;	
}

.badge {
	background-color: darkcyan;
	font-size: 10px;
}

h1 {
	font-size: 100px;
}
