.taco {
	color: #95B8D1;
	text-shadow: 0px 0px 1px #333;
	font-weight: bolder;
}

body{
	background: linear-gradient(to bottom left,#D6EADF, #EAC4D5);
	height: 100vh;
	width: 100vw;
}

.poster img{
	max-width: 100%;
	border: 5px solid #95B8D1;

}
